<!DOCTYPE html>
<html>
  <head>
    <title>ThisChord</title>
    <meta property='og:title' content="Discourse"/>
    <meta property='og:image' content="<%= image_url('project_pic.png') %>" />
    <meta property="og:description"
      content='Faithful homage to Discord built using React.js, Ruby on Rails, and Redis'
    />
    <meta property='og:url'
      content="https://discourse-mdm.herokuapp.com"
    />
    <script src="https://kit.fontawesome.com/5afae05217.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.loginBgUrl = "<%= image_url('login-bg.jpg') %>";

    </script>
   
  </head>

  <body>
    <%= yield %>















  </body>
</html>
